table {
  width: 100%;
  max-height: 550px;
  overflow: auto;
}

.custom-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
  border-radius: 10px !important;
  background-color: #F5F5F5 !important;
}

.custom-scroll::-webkit-scrollbar {
  width: 12px !important;
  background-color: #F5F5F5 !important;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3) !important;
  background-color: #555 !important;
}

.table-container {
  max-height: 550px;
  overflow: auto;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
