<div>

  <button [routerLink]="['/cups']" color="primary" mat-raised-button style="margin-left: 15%; margin-top: 2%">Cofnij
  </button>

  <mat-card>
    <form>
      <mat-form-field>
        <mat-label>Nazwa</mat-label>
        <input [ngModel]="cup.name" disabled matInput name="name" type="text">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Kategoria</mat-label>
        <input [ngModel]="cup.category.name" disabled matInput name="category" type="text">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Opis</mat-label>
        <textarea [ngModel]="this.cup.description" disabled matInput name="description"></textarea>
      </mat-form-field>

      <mat-form-field style="margin-top: 30px;">
        <mat-label>Rozwiązanie</mat-label>
        <textarea [ngModel]="this.cup.solution" disabled matInput name="solution"></textarea>
      </mat-form-field>

    </form>
  </mat-card>


</div>
