form {
  width: 60%;
  margin: auto;
}

mat-card {
  width: 50%;
  margin: 25px auto auto;
}

mat-form-field {
  margin: auto;
  display: flex;
  width: 65%;
}

form {
  width: 100%;
}

::ng-deep .mat-form-field-wrapper {
  display: flex !important;
  width: 100% !important;
}
